[submodule "projects/lattice-research"]
	path = archives/lattice-research
	url = https://github.com/dzackgarza/lattice-research.git
[submodule "review-calibration"]
	path = review-calibration
	url = https://github.com/dzackgarza/review-calibration.git
